*~
*.o
aclocal.m4
autom4te.cache/
cflags.out
/config.*
configure
cppflags.out
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
src/barnyard2
src/input-plugins/libspi.a
src/output-plugins/libspo.a
src/sfutil/libsfutil.a
stamp-h1
