[Unit]
Description=Barnyard2 is an output processor for snort
After=network.target

[Service]
Type=forking
User=root
KillSignal=3
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/barnyard2-start.sh
Restart=on-failure
PermissionsStartOnly=True
ExecStop=/usr/bin/kill -9 `pidof barnyard2`

[Install]
WantedBy=multi-user.target

